{% extends 'base.html' %}

{% block content %}

<div class="quiz-card shadow p-5 text-center">

    <h1 class="display-5 fw-bold mb-4">

        Sistem Pakar
        Gaya Belajar Siswa

    </h1>

    <p class="lead text-muted">

        Kenali gaya belajar dominanmu
        dan dapatkan rekomendasi belajar
        terbaik untuk siswa, guru,
        dan orang tua.

    </p>

    <a href="/start">

        <button class="btn btn-primary btn-lg mt-4 px-5">

            Mulai Tes

        </button>

    </a>

</div>

{% endblock %}